In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df=pd.read_csv('C:\\Users\\ARNAB DAS\\Desktop\\hope price multiple variable.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
import math
median_bedrooms=math.floor(df.bedrooms.median())#median() is the median function called from math.floor and assigned to median_bedrooms
median_bedrooms

4

In [4]:
df.bedrooms.fillna(median_bedrooms)#filled the NaN values from bedroom collumn with the median value

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [5]:
#now i want to upgrade the overall values
df.bedrooms=df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
#Now its time to call the linear regression function from the library
reg = linear_model.LinearRegression()
#fit method is often used in ML which is used to train model
reg.fit(df[['area','bedrooms','age']],df.price) # For single variable problems this fit method should contain only one variable that is only 'area' or 'age' or 'price' within the values of df dataframe
#fit method contains two part---one is the variables i need to train and the other one is the variable I have to predict

LinearRegression()

In [7]:
#The equation is 
# price = m1* area + m2* bedrooms + m3* age + intercept
# Now lets see the Co-efficients of the equation
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [8]:
#whats the value of intercept! Lets see!!
reg.intercept_

221323.00186540408

In [13]:
##Hey! Now I can predict... I just need to input the test data
reg.predict([[3000,4,5]])

array([634907.2584604])